<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png')}}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest')}}">
    <link rel="mask-icon" href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg')}}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href="{{ url_for('static', filename='font-awesome/css/all.css')}}">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/style.css')}}">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Kyle Dixon - Resume</title>
    {% endif %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/home">Kyle Dixon</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Web Resume <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/download">PDF Resume</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Resume Sections
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#certs">Certifications</a>
              <a class="dropdown-item" href="#work">Work Experience</a>
              <a class="dropdown-item" href="#skills">Skills</a>
            </div>
          </li>
        </ul>

      </div>
    </nav>

    <p>&nbsp;</p>

    <div class="container">
        <div class="row py-3">
            <div class="col-3 order-2" id="sticky-sidebar">
                <div class="sticky-top">
                  <div class="content-section">
                    <h3 class="resume-section">Contact</h3>
                    <p class="text-muted">
                      <ul class="list-group">
                        <a href="tel:3153081007" target="_blank" class="list-group-item list-group-item-action list-group-item-primary"><i class="fas fa-phone-square"></i> (315) 308-1007</a>
                        <a href="mailto:me@kyle-dixon.com" target="_blank" class="list-group-item list-group-item-action list-group-item-primary"><i class="fas fa-envelope-square"></i> me@kyle-dixon.com</a>
                      </ul>
                    </p>
                  </div>
                  <div class="content-section">
                    <h3 class="resume-section">Social</h3>
                    <p class="text-muted">
                      <ul class="list-group">
                          <li class="list-group-item list-group-item-dark" id="social-links">
                            <center>
                            <a href="https://www.linkedin.com/in/kyle-a-dixon/" target="_blank"><i class="fab fa-linkedin"></i></a>&nbsp;&nbsp;&nbsp;
                            <a href="https://github.com/crocokyle" target="_blank"><i class="fab fa-github"></i></a>&nbsp;&nbsp;&nbsp;
                            <a href="https://gitlab.com/crocokyle" target="_blank"><i class="fab fa-gitlab"></i></a>&nbsp;&nbsp;&nbsp;
                            <a href="https://stackoverflow.com/users/story/13859761" target="_blank"><i class="fab fa-stack-overflow"></i></a>
                            </center>
                          </li>
                      </ul>
                    </p>
                  </div>
                </div>
            </div>

            <div class="col" id="main">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
